@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #3a3153;
  --secondary: #ededed;
  --accent: #FFA552;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #3a3153;
  }
}

body {
  color: #ededed;
  background-color: var(--primary);
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}